*{
    padding: 0;
    margin:0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 40px;
    display: flex;
    background-color:#f033c4;
    color:white;
    justify-content:space-between;
    align-items: center;

}
.navbar .logo{
    width:25%;
}


.logo{
    font-size: 1.3rem;
    height: 30px;
    width:30px;
    display: flex;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.logo2{
    padding-left: 5px;

}
.logo3{
    padding-left: 5px;

}
.logo4{
    padding-left: 5px;
}
.logo5{
    padding-left: 5px;
}
.num{
    display:flex;
    font-size: 0.95rem;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 30px;
}
.logo6{
    padding-right: 8px;
}
.logo7{
    padding-left: 5px;
    padding-right: 8px;
}
/**panel**/

.panel-all{
    padding-top:7px ;
    padding-left:2px;
    font-size: 1.3rem;
    font-weight: 600;
}
.panel{
    height:50px;
    background-color: #f09b33;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display:inline;
    margin-left: 10px;
}

.panel-ops{
    width:55%;
    font-size: 1.0rem;
}
.panel-buy{
    font-size: 1.2rem;
    font-weight: 600;
}

/**image section**/
.img-msg i{
    font-size: 1.8rem;
}
.img-section{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img-section img{
    height: 900px;
    max-width:100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    object-fit: cover;
}

.img-text b{
    padding-top: 20PX;
    color:white;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 100px;

}
.img-text h2{
    padding-left: 100px;
}
.img-text p{
    padding-left: 100px;
}
.img-text button{
    margin-left: 100px;
}

.img-text{
    position:absolute;
    top:10%;
    padding: 70px;
    width:100%;
}

.img-text h2{
    font-size:1.8rem;
    padding-top: 15px;
    color:#f033c4
}

.img-text p{
    padding-top: 15px;
    color:white;
    padding-bottom: 50px;
}
button{
    border-radius: 15px;
}

.img-text button{
    border:1px solid white;
    color:white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #f033c4b6;
    align-items:center;
}
.img-msg h5{
    display: flex;
}
.img-msg{
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 1px;
    display: flex;
    font-size: o.85rem;
    background-color: #f033c4;
    align-items: center;
    justify-content: center;
    width:100% ;
}
.img-section2{
    float: right;
    width:30%;
    padding-top: 30px;
}
.content{
    position:absolute;
    width:85%;
}
.content h1{
    padding-top: 50px;
    padding-left: 100px;
}
.content h3{
    padding-top: 20px;
    padding-left: 100px;
}
.content p{
    padding-top: 10px;
    padding-left: 100px;
    width:50%;
}
.content button{
    border:1px solid white;
    background-color: #f033c4;
    color:white;
    margin-top: 50px ;
    margin-left: 100px ;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
.content_1{
    background-color: rgba(252, 249, 249, 0.99);
    width:100%;
}
.content_img1{
    padding-top: 20px;
    padding-left: 100px;
}
.content_img2{
    padding-top: 20px;
    width:24.8%;
    padding-left: 40px;
}

